
/* ----------------------------------------------------------------

	footer.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Footer
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for footer. Thanks!
-----------------------------------------------------------------*/

#footer {
	background-color: #222222;
}

#footer-main {
	background-color: #1b1b1b;
	padding-top: 3rem;
	padding-bottom: 3rem;
}

#footer-bottom {
	padding: 2rem 0;
}


#copyrights {
	color: #707070;
	font-weight: 300;	
	z-index: 1;	
	font-size: 0.875rem;
	white-space: nowrap;
}